.app {
  padding-top: 20px;
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
}
.display {
  display: flex;
  justify-content: center;
}
pre {
  text-align: left;
  margin-left: 100px;
  width: 500px;
  white-space: pre-line;
  word-break: break-all;
}
